MLPipelineDVC/data/*
/Users/selva/Documents/linkedinPosts/rae2822Airfoil/MLPipelineDVC/outputs/model.pkl
MLPipelineDVC/.vscode/
MLPipelineDVC/dvcCommands
MLPipelineDVC/src/downloadData.py
post_material